{{define "aventurier"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aventuriers</title>
</head>
<body>
<a href="/aventuriers">Retour</a>
<h1>Aventurier</h1>

<div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    <p>ID: {{.ID}}</p>
    <p>Nom: {{.Nom}}</p>
    <p>Prenom: {{.Prenom}}</p>
    <p>Surnom: {{.Surnom}}</p>
    <p>Age: {{.Age}}</p>
    <p>Equipe: {{.Tribu}}</p>
    <p>Sexe: {{.Sexe}}</p>
    <p>Force: {{.Force}}</p>
    <p>Intelligence: {{.Intelligence}}</p>
    <p>Strategie: {{.Strategie}}</p>
    <p>Description: {{.Description}}</p>
</div>


</body>
</html>
{{end}}
