{{define "aventurier"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aventuriers</title>
    <link rel="stylesheet" type="text/css" href="/static/css/aventurier.css">
</head>
<body>
<div class="top">
    <a href="/aventuriers" class="bouton-retour">
        <img src="/static/images/retour.png" alt="Retour" />
    </a>

    <h1>{{.Nom}} {{.Prenom}}</h1>
</div>

<div class="infobox">
    <p>Surnom: {{.Surnom}}</p>
    <p>Age: {{.Age}}</p>
    <p>Equipe: {{.Tribu}}</p>
    <p>Sexe: {{.Sexe}}</p>
    <p>Force: {{.Force}} /10</p>
    <p>Intelligence: {{.Intelligence}}/10</p>
    <p>Strategie: {{.Strategie}}/10</p>
    <p>Description: {{.Description}}</p>
</div>


</body>
</html>
{{end}}
