{{define "create"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer personnage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/create.css">
</head>
<body>
<div class="top">
    <a href="/accueil" class="bouton-retour">
        <img src="/static/images/retour.png" alt="Retour" />
    </a>

    <h1>Ajouter un aventurier</h1>
</div>
<form action="/submit_create" method="post">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>

    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" name="prenom" required>

    <label for="surnom">Surnom :</label>
    <input type="text" id="surnom" name="surnom">

    <label for="age">Âge :</label>
    <input type="number" id="age" name="age" required>


    <label for="sexe">Sexe :</label>
    <select id="sexe" name="sexe" required>
        <option value="homme">Homme</option>
        <option value="femme">Femme</option>
    </select>

    <label for="tribu">Equipe :</label>
    <select id="tribu" name="tribu" required>
        <option value="Rouge">Rouge</option>
        <option value="Jaune">Jaune</option>
        <option value="Bleu">Bleu</option>
    </select>

    <label for="force">Force physique (sur 10) :</label>
    <input type="number" id="force" name="force" min="0" max="10">

    <label for="intelligence">Intelligence (sur 10) :</label>
    <input type="number" id="intelligence" name="intelligence" min="0" max="10">

    <label for="strategie">Stratégie (sur 10) :</label>
    <input type="number" id="strategie" name="strategie" min="0" max="10">

    <label for="description">Description :</label>
    <textarea id="description" name="description" rows="4"></textarea>

    <button type="submit">Ajouter Aventurier</button>
</form>
</body>
</html>
{{end}}