{{define "equipe"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aventuriers</title>
    <link rel="stylesheet" type="text/css" href="/static/css/aventuriers.css">
</head>
<body>

<div class="top">
    <a href="/equipes" class="bouton-retour">
        <img src="/static/images/retour.png" alt="Retour" />
    </a>

    <h1>Liste de l'équipe</h1>
</div>

{{range .}}
<div class="container">
    <div class="test">
        {{if eq .Sexe "homme"}}
        {{if eq .Tribu "Rouge"}}
        <div class="avatar">
            <img src="/static/images/homme_rouge.png" alt="Homme de la tribu Rouge" />
        </div>
        {{else if eq .Tribu "Jaune"}}
        <div class="avatar">
            <img src="/static/images/homme_jaune.png" alt="Homme de la tribu Jaune" />
        </div>
        {{else}}
        <div class="avatar">
            <img src="/static/images/homme_bleu.png" alt="Homme d'une autre tribu" />
        </div>
        {{end}}
        {{else if eq .Sexe "femme"}}
        {{if eq .Tribu "Rouge"}}
        <div class="avatar">
            <img src="/static/images/fille_rouge.png" alt="Femme de la tribu Rouge" />
        </div>
        {{else if eq .Tribu "Jaune"}}
        <div class="avatar">
            <img src="/static/images/fille_jaune.png" alt="Femme de la tribu Jaune" />
        </div>
        {{else}}
        <div class="avatar">
            <img src="/static/images/fille_bleu.png" alt="Femme d'une autre tribu" />
        </div>
        {{end}}
        {{end}}

    </div>
    <div class="details">
        <a href="/aventurier?id={{.ID}}" class="link-no-underline">
            <p>{{.Nom}} "{{.Surnom}}" {{.Prenom}}, {{.Age}}</p>
        </a>
    </div>
    <a class="link" href="/edit?id={{.ID}}">
        <img src="/static/images/edit.png" alt="Modifier" />
    </a>
    <a class="link" href="/delete?id={{.ID}}">
        <img src="/static/images/poubelle.png" alt="Supprimer" />
    </a>
</div>
{{end}}


</body>
</html>
{{end}}
